version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: santarosa_catalogo
    ports:
      - "3000:3000"
    volumes:
      - .:/app:Z
      - node_modules:/app/node_modules:Z
    restart: unless-stopped

volumes:
  node_modules:
